<!DOCTYPE html>
<html>
<head>
	<title>Bio</title>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<meta http-equiv="Content-type" content="text/html;charset=utf-8"/>
</head>
<body>
<div class="top_title">
	A few words about ivanuzz
</div>
<div class="container">
	<div class="columns">
	<div class="f_collumn">
		<div class="bio">
			Hi! I am Ivan Abyzov, my digital name is "ivanuzz". 
			<br>
			<div class="factsinfo">Facts about me:</div>
			<div class="li">
				<li>22 y.o.</li>
				<li>Russia.</li>
				<li>Languages: Eng (B2), De (A2). </li>
				<li>Areas of knowledge: telecommunications, information security, programming.</li>
				
			</div>
		</div>
		<div class="skills">
			<div class="skillsinfo">About my skills in IT:</div>
			<li>Technology stack: Windows 10, Kali Linux, Cisco, Google Firebase</li>
			<li>Programming languages stack: PHP, HTML, SCC, CSCC, Js, Java, Go (beginner), Python (beginner)</li>
		</div>
	</div>
	<div class="s_collumn">
		<div class="image"><img src="../static/img/ivanuzz.jpg" alt=""></div>
	</div>
	</div>
	<div class="examples">
		<div class="examplesinfo">My examples</div>
			You can find some projects on GitHub page. Other projects stores on my PC. You can write me request to get it.) 
	</div>
	<footer class="footer">
		My contacts <br>
		abyzovivan@mail.ru <br>
		VK: https://vk.com/ivanuzzz
	</footer>
</div>

</body>
</html>